{% extends "base.html" %}
{% load i18n %}
{% load widget_filters %}

{% block page_title %}{% trans 'Update Graph' %}{% endblock %}
{% block page_header %}{% trans 'Update Graph' %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'ion_channel:home' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li><a href="{% url 'ion_channel:graph-index' %}">{% trans 'Graphs' %}</a></li>
    <li class="active">{% trans 'Update' %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans 'Graph' %}</h3>
                </div>
                <form method="post" class="form" enctype="multipart/form-data">
                    <div class="box-body">
                        {% csrf_token %}
                        {% for field in form%}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field |addcss:"form-control" }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}