{% extends "base_ajax.html" %}
{% load i18n %}
{% load widget_filters %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form id="frm_graph" enctype="multipart/form-data" method="post" class="form" action="{% url 'ion_channel:graph-update' object.pk %}">
                <div class="box-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field |addcss:"form-control" }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <input type="button" value="{% trans 'Save' %}" class="btn btn-primary"
                           onclick="return cw.experiment.graph.save()"/>
                    <a href="#" class="btn btn-default" onclick="cw.experiment.modal.close()">{% trans 'Cancel' %}</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}