{% extends "base_ajax.html" %}
{% load i18n %}
{% load widget_filters %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form method="post" class="form" id="frm_patch_clamp" action="{% url 'ion_channel:patch-clamp-update' object.pk %}">
                <div class="box-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field |addcss:"form-control" }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <input type="button" value="{% trans 'Save' %}" class="btn btn-primary"
                           onclick="return cw.experiment.patchClamp.save()"/>
                    <a href="#" class="btn btn-default" onclick="cw.experiment.modal.close()">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block inline-css%}
<link href="{% static 'third_party/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block inline-script %}
<script src="{% static 'third_party/select2/js/select2.min.js' %}"></script>
<script type="text/javascript">
    $("#id_experiment").select2();
    $("#id_ion_channel").select2();
    $("#id_type").select2();
    $("#id_patch_type").select2();
    $("#id_cell").select2();
</script>
{% endblock %}
