{% extends "base.html" %}
{% load i18n %}
{% load widget_filters %}

{% block page_title %}{% trans 'Change Password' %}{% endblock %}
{% block page_header %}{% trans 'Change Password' %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'ion_channel:home' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Change Password' %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-check"></i>
                    <h3 class="box-title">{% trans 'Success' %}</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-success">
                        <p>{% blocktrans %}Your password has been change !{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="box-footer">
                    <a href="{% url 'home' %}" class="btn btn-success">{% trans 'OK' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}