# NOTE: libpng-dev, libjpeg8-dev, libfreetype6-dev are required dependencies for matplotlib which do not being installed by pip
# Also make sure libxml2-dev libxslt1-dev python-dev is already installed

# required for pyNeuroML
-e git+https://github.com/NeuralEnsemble/libNeuroML.git@development#egg=libNeuroML
-e git+https://github.com/purcell/airspeed.git#egg=airspeed 

# pyNeuroML itself
-e git+https://github.com/pgleeson/pyNeuroML.git#egg=PyNeuroML

# required for neuronunit
-e git+http://github.com/neuralensemble/elephant.git#egg=elephant-0.1.1
-e git+http://github.com/neuralensemble/python-neo.git#egg=neo-0.4.0dev
-e git+https://github.com/scidash/sciunit.git#egg=sciunit

# neuronunit itself
-e git+https://github.com/rgerkin/neuronunit.git#egg=neuronunit

# required for PyOpenWorm
-e git+https://github.com/RDFLib/FuXi.git#egg=FuXi

# PyOpenWorm itself
-e git+https://github.com/openworm/PyOpenWorm.git@dev#egg=PyOpenWorm

-e git+https://github.com/pgleeson/pyelectro.git#egg=pyelectro
-e git+https://github.com/pgleeson/neurotune.git#egg=neurotune

# installs the channelworm web app
-e channelworm

# runs setup.py
-e .
