{% load staticfiles %}
{% load i18n %}
<header class="main-header">
    <!-- Logo -->
    <a href="/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><strong>CW</strong></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><strong>ChannelWorm</strong></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="{% static 'third_party/lte/dist/img/avatar5.png' %}" class="user-image"
                             alt="User Image"/>
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">
                            {% if user.first_name  %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="{% static 'third_party/lte/dist/img/avatar5.png' %}" class="img-circle"
                                 alt="User Image"/>
                            <p>
                                {% if user.first_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <small>{{ user.email }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'password_change' %}" class="btn btn-default btn-flat">
                                    <i class="fa  fa-key"></i><span> Change Pass</span>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">
                                    <i class='fa fa-sign-out'></i><span> {% trans 'Sign out' %}</span></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
                {% else %}
                <div class="pull-right">
                    <a href="{% url 'login' %}" class="navbar-brand" role="button">
                        <i class='fa fa-sign-in'></i><span> {% trans 'Login' %}</span>
                    </a>
                    <a href="{% url 'account:register' %}" class="navbar-brand" role="button">
                        <i class='fa fa-user-plus'></i><span> {% trans 'Register' %}</span>
                    </a>
                </div>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
