{% extends "base.html" %}
{% load i18n %}
{% load widget_filters %}
{% load staticfiles %}

{% block page_title %}{% trans 'Create Figure' %}{% endblock %}
{% block page_header %}{% trans 'Create Figure' %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'ion_channel:home' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li><a href="{% url 'ion_channel:graph-index' %}">{% trans 'Graphs' %}</a></li>
    <li class="active">{% trans 'Figure' %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans 'Figure' %}</h3>
                </div>
                <form enctype="multipart/form-data" method="post" class="form" >
                    <div class="box-body">
                        {% csrf_token %}
                        {% for field in form%}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field |addcss:"form-control" }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline-css%}
<link href="{% static 'third_party/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block inline-script %}
<script src="{% static 'third_party/select2/js/select2.min.js' %}"></script>
<script type="text/javascript">
    $("#id_experiment").select2();
    $("#id_ion_channel").select2();
    $("#id_patch_clamp").select2();
    $("#id_x_axis_type").select2();
    $("#id_y_axis_type").select2();
</script>
{% endblock %}