{% load staticfiles %}

<script src="{% static 'digitizer/js/browser/browserInfo.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/averagingWindow.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/averagingWindowCore.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/averagingWindowWithStepSize.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/barExtraction.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/blobdetector.js' %} "></script>
<script src="{% static 'digitizer/js/core/AEalgos/xStepWithInterpolation.js' %} "></script>
<script src="{% static 'digitizer/js/core/appData.js' %} "></script>
<script src="{% static 'digitizer/js/core/autoDetection.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/bar.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/image.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/map.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/polar.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/ternary.js' %} "></script>
<script src="{% static 'digitizer/js/core/axes/xy.js' %} "></script>
<script src="{% static 'digitizer/js/core/calibration.js' %} "></script>
<script src="{% static 'digitizer/js/core/colorAnalysis.js' %} "></script>
<script src="{% static 'digitizer/js/core/connectedPoints.js' %} "></script>
<script src="{% static 'digitizer/js/core/dataSeries.js' %} "></script>
<script src="{% static 'digitizer/js/core/dateConversion.js' %} "></script>
<script src="{% static 'digitizer/js/core/gridDetectionCore.js' %} "></script>
<script src="{% static 'digitizer/js/core/inputParser.js' %} "></script>
<script src="{% static 'digitizer/js/core/mathFunctions.js' %} "></script>
<script src="{% static 'digitizer/js/core/plotData.js' %} "></script>
<script src="{% static 'digitizer/js/main.js' %} "></script>
<script src="{% static 'digitizer/js/services/download.js' %} "></script>
<script src="{% static 'digitizer/js/services/plotly.js' %} "></script>
<script src="{% static 'digitizer/js/services/saveResume.js' %} "></script>
<script src="{% static 'digitizer/js/services/scriptInjection.js' %} "></script>
<script src="{% static 'digitizer/js/tools/alignAxes.js' %} "></script>
<script src="{% static 'digitizer/js/tools/autodetect.js' %} "></script>
<script src="{% static 'digitizer/js/tools/colorPicker.js' %} "></script>
<script src="{% static 'digitizer/js/tools/dataProviders.js' %} "></script>
<script src="{% static 'digitizer/js/tools/graphicsHelper.js' %} "></script>
<script src="{% static 'digitizer/js/tools/gridDetection.js' %} "></script>
<script src="{% static 'digitizer/js/tools/imageOps.js' %} "></script>
<script src="{% static 'digitizer/js/tools/keyCodes.js' %} "></script>
<script src="{% static 'digitizer/js/tools/manualDataCollection.js' %} "></script>
<script src="{% static 'digitizer/js/tools/mask.js' %} "></script>
<script src="{% static 'digitizer/js/tools/measurement.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/dataSeriesManagement.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/dataTable.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/graphicsWidget.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/layoutManager.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/popups.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/sidebars.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/toolbars.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/transformationEquations.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/webcam.js' %} "></script>
<script src="{% static 'digitizer/js/widgets/zoom.js' %} "></script>

